.logo {
  align-items: center;
  display: flex;
}

.logo img {
  width: 48px;
  height: 48px;
}

.logo span {
  font-size: 24px;
  padding-left: 5px;
}

.footer {
  text-align: center;
}

.register {
  float: right !important;
}
.ant-menu-horizontal>.ant-menu-item>a, .ant-menu-horizontal>.ant-menu-submenu>a {
  display: inline-block !important;
}

.container{
  padding-top: 10px;
}

.leftContainer {
  width: 400px;
    float: left;
    margin-right: 10px;
}

.carousel {
  width: 400px;

}

.ant-card{
  margin-top: 5px !important;
}

.ant-card-head-title{
  text-align: left !important;
}
.ant-card-body{
  text-align: left !important;
}
.usercenter {
  float: right !important;
}

#container {
  text-align: center !important;
}

.container {

  margin-top: 5px;
}

.carousel {
  width: 400px;

}

.carousel img {
  width: 400px;
  height: 260px;
}
.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    width: 400px;
}
.topNewsImgListBox{
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}
.topNewsImgList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}

.tabs_news {
    width: 400px;
    float: left;
}
.tabs_news ul{
    margin-left: -50px;
}
.tabs_news a:hover{
    color: red!important; ;
}
.tabs_news li {
    height: 31px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 380px;
    text-overflow: ellipsis;
}
.imageblock {
    margin-left: 7px;
    margin-right: 7px;
}
.custom-card {

}

.custom-card p {
    color: #999;
}

.register{
    float: right !important;
}